Repository cursorless-dev/cursorless, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cursorless-dev/code-owners, @josharian, @saidelike, @fidgetingbits

More fixes
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/VscodeFocusEditor.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHats.ts
  packages/cursorless-vscode/src/scripts/initLaunchSandbox.ts
Owners: @cursorless-dev/code-owners

More fixes
  packages/common/src/types/Position.ts
  packages/cursorless-vscode/src/keyboard/KeyboardHandler.ts
Owners: @cursorless-dev/code-owners, @josharian

Fix snippet parser
  packages/cursorless-engine/src/snippets/vendor/vscodeSnippet/snippetParser.ts
Owners: @cursorless-dev/code-owners

font measurement
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
Owners: @cursorless-dev/code-owners

handle string to integer conversion better
  packages/common/src/types/Position.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Owners: @cursorless-dev/code-owners

dispose of status bar
  packages/cursorless-vscode/src/StatusBarItem.ts
  packages/cursorless-vscode/src/extension.ts
Owners: @cursorless-dev/code-owners

more fixes
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/cursorless-vscode/src/ide/vscode/hats/FontMeasurementsImpl.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Owners: @cursorless-dev/code-owners

Added stringToInteger utility
  packages/common/src/types/Position.ts
  packages/common/src/util/stringUtils.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Owners: @cursorless-dev/code-owners

Cleanup
  packages/common/src/types/Position.ts
  packages/common/src/util/stringUtils.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
Owners: @cursorless-dev/code-owners

language definitions and quick pick
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-vscode/src/ide/vscode/vscodeShowQuickPick.ts
Owners: @cursorless-dev/code-owners

more fixes
  packages/common/src/util/Notifier.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
Owners: @cursorless-dev/code-owners

more
  packages/common/src/util/Notifier.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

more fix
  packages/cursorless-engine/src/actions/EditNew/runNotebookCellTargets.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

more fixes
  packages/cursorless-engine/src/core/IndividualHatMap.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
  packages/cursorless-engine/src/core/updateSelections/updateSelections.ts
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeRangeWatcher.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
  packages/cursorless-engine/src/util/performDocumentEdits.ts
  packages/cursorless-vscode/src/SpyWebviewView.ts
  packages/cursorless-vscode/src/extension.ts
  packages/cursorless-vscode/src/ide/vscode/hats/VscodeHatRenderer.ts
Owners: @cursorless-dev/code-owners

Small clean up
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Owners: @cursorless-dev/code-owners

More cleanup
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Owners: @cursorless-dev/code-owners

prettier
  packages/cursorless-engine/src/scopeProviders/ScopeInfoProvider.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportWatcher.ts
Owners: @cursorless-dev/code-owners

update
  packages/common/src/util/CompositeKeyMap.ts
  packages/common/src/util/blendColors.ts
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Owners: @cursorless-dev/code-owners

update comment
  packages/cursorless-engine/src/core/updateSelections/RangeUpdater.ts
Owners: @cursorless-dev/code-owners

started working on updating dependencies
  .npmrc
  .syncpackrc.json
  eslint.config.mts
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Update node version
  .nvmrc
Owners: @cursorless-dev/code-owners

dedupe
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

node v24
  .nvmrc
  package.json
Owners: @cursorless-dev/code-owners

Another update
  package.json
Owners: @cursorless-dev/code-owners

Update eslint dependency to v10
  cursorless.nvim/node/command-server/package.json
  eslint.config.mts
  package.json
  packages/common/eslintConfig.ts
  packages/cursorless-engine/eslintConfig.ts
  packages/cursorless-engine/src/test/spokenForms.talon.test.ts
  packages/cursorless-org/eslint.config.mts
  packages/cursorless-org/eslintConfig.ts
  packages/cursorless-org/package.json
  packages/cursorless-vscode/eslintConfig.ts
  packages/cursorless-vscode/src/VscodeSnippets.ts
  packages/neovim-common/src/ide/neovim/NeovimTextDocumentImpl.ts
  packages/sentence-parser/src/Match.ts
  packages/sentence-parser/src/sbd.ts
  packages/test-case-recorder/src/TestCaseRecorder.ts
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Update Tailwind PostCSS plugin to 4.1.18
  packages/cheatsheet-local/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-org/tailwind.config.js
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Updating cheatsheet legend and defaults
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Owners: @cursorless-dev/code-owners

More fixes
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
Owners: @cursorless-dev/code-owners

More updates
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
Owners: @cursorless-dev/code-owners

Remove print
  cursorless-talon/src/cheatsheet/sections/actions.py
Owners: @cursorless-dev/code-owners

update
  cursorless-talon/src/cheatsheet/sections/actions.py
  packages/cheatsheet/src/lib/sampleSpokenFormInfos/defaults.json
Owners: @cursorless-dev/code-owners

update legend
  packages/cheatsheet/src/lib/cheatsheetLegend.tsx
Owners: @cursorless-dev/code-owners

Update cheatsheet (#3180)
  src/cheatsheet/sections/actions.py
Owners: @cursorless-dev/code-owners

Fixed bug where Talon list wasn't properly updated when the user disabled a spoken form
  cursorless-talon/src/csv_overrides.py
Owners: @cursorless-dev/code-owners

Fixed bug where Talon list wasn't properly updated when the user disabled a spoken form (#3181)
  src/csv_overrides.py
Owners: @cursorless-dev/code-owners

Started adding scope facets to ruby
  data/fixtures/scopes/ruby/class.iteration.document.scope
  data/fixtures/scopes/ruby/class.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.chain.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.method.scope
  data/fixtures/scopes/ruby/functionCall/functionCall.scope
  data/fixtures/scopes/ruby/ifStatement.scope
  data/fixtures/scopes/ruby/name/name.iteration.document.scope
  data/fixtures/scopes/ruby/namedFunction.iteration.class.scope
  data/fixtures/scopes/ruby/namedFunction.method.scope
  data/fixtures/scopes/ruby/namedFunction.scope
  data/fixtures/scopes/ruby/statement/statement.iteration.document.scope
  data/fixtures/scopes/ruby/string.multiLine.scope
  data/fixtures/scopes/ruby/string.singleLine.scope
  data/fixtures/scopes/ruby/textFragment.comment.block.scope
  data/fixtures/scopes/ruby/textFragment.comment.line.scope
  data/fixtures/scopes/ruby/textFragment.string.multiLine.scope
  data/fixtures/scopes/ruby/textFragment.string.singleLine.scope
  data/fixtures/scopes/ruby/value/value.iteration.document.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/SurroundingPairScopeHandler/delimiterMaps.ts
  queries/ruby.scm
Owners: @cursorless-dev/code-owners

callee
  data/fixtures/scopes/ruby/functionCallee/functionCallee.chain.scope
  data/fixtures/scopes/ruby/functionCallee/functionCallee.method.scope
  data/fixtures/scopes/ruby/functionCallee/functionCallee.scope
  queries/ruby.scm
Owners: @cursorless-dev/code-owners

re
  data/fixtures/scopes/ruby/regularExpression.scope
  queries/ruby.scm
Owners: @cursorless-dev/code-owners

map/list
  data/fixtures/scopes/ruby/list.scope
  data/fixtures/scopes/ruby/list2.scope
  data/fixtures/scopes/ruby/list3.scope
  data/fixtures/scopes/ruby/map.scope
  data/fixtures/scopes/ruby/namedFunction.iteration.document.scope
  queries/ruby.scm
Owners: @cursorless-dev/code-owners

statement
  data/fixtures/scopes/ruby/anonymousFunction.scope
  data/fixtures/scopes/ruby/anonymousFunction2.scope
  data/fixtures/scopes/ruby/statement/statement.assignment.scope
  data/fixtures/scopes/ruby/statement/statement.break.scope
  data/fixtures/scopes/ruby/statement/statement.class.scope
  data/fixtures/scopes/ruby/statement/statement.continue.scope
  data/fixtures/scopes/ruby/statement/statement.foreach.scope
  data/fixtures/scopes/ruby/statement/statement.foreach2.scope
  data/fixtures/scopes/ruby/statement/statement.function.scope
  data/fixtures/scopes/ruby/statement/statement.functionCall.scope
  data/fixtures/scopes/ruby/statement/statement.if.scope
  data/fixtures/scopes/ruby/statement/statement.method.scope
  data/fixtures/scopes/ruby/statement/statement.misc.scope
  data/fixtures/scopes/ruby/statement/statement.return.scope
  data/fixtures/scopes/ruby/statement/statement.throw.scope
  data/fixtures/scopes/ruby/statement/statement.variable.initialized.scope
  data/fixtures/scopes/ruby/statement/statement.while.scope
  data/fixtures/scopes/ruby/statement/statement.yield.scope
  packages/common/src/scopeSupportFacets/ruby.ts
  queries/ruby.scm
Owners: @cursorless-dev/code-owners

.github/CODEOWNERS:

* @cursorless-dev/code-owners

*keyboard* @cursorless-dev/code-owners @josharian
*Keyboard* @cursorless-dev/code-owners @josharian

*neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
