Repository cursorless-dev/cursorless, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cursorless-dev/code-owners, @josharian, @saidelike, @fidgetingbits

Clean up comment
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
Owners: @cursorless-dev/code-owners

Clean up
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Owners: @cursorless-dev/code-owners

More refactoring
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
Owners: @cursorless-dev/code-owners

avoid allocating hats to the first letter of a token (#1723)
  data/fixtures/recorded/hatTokenMap/takeEach.yml
  data/fixtures/recorded/testCaseRecorder/takeEach.yml
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/WordScopeHandler/WordTokenizer.ts
  packages/cursorless-engine/src/test/fixtures/subtoken.fixture.ts
  packages/cursorless-engine/src/util/allocateHats/HatMetrics.ts
  packages/cursorless-engine/src/util/allocateHats/allocateHats.ts
  packages/cursorless-engine/src/util/allocateHats/chooseTokenHat.ts
  packages/cursorless-vscode-e2e/src/suite/breakpoints.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/commandHistory.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/keyboard/basic.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/pourAcrossSplit.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/testCaseRecorder.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/wrapWithSnippetAcrossSplit.vscode.test.ts
Owners: @cursorless-dev/code-owners, @josharian

Replace funk name with name and function modifiers
  packages/common/src/index.ts
  packages/common/src/testUtil/serializeTestFixture.ts
  packages/common/src/types/command/CommandV7.types.ts
  packages/common/src/types/command/command.types.ts
  packages/common/src/types/command/legacy/ActionDescriptorV6.ts
  packages/common/src/types/command/legacy/CommandV6.types.ts
  packages/common/src/types/command/legacy/DestinationDescriptorV6.types.ts
  packages/common/src/types/command/legacy/PartialTargetDescriptorV6.types.ts
  packages/cursorless-engine/src/core/commandVersionUpgrades/upgradeV6ToV7.ts
Owners: @cursorless-dev/code-owners

Make missing snippet message include languages
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Owners: @cursorless-dev/code-owners

Clean up
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Owners: @cursorless-dev/code-owners

Update HaaLeo/publish-vscode-extension action version
  .github/workflows/deploy.yaml
  .github/workflows/test.yml
Owners: @cursorless-dev/code-owners

Update HaaLeo/publish-vscode-extension action version (#2865)
  .github/workflows/deploy.yaml
  .github/workflows/test.yml
Owners: @cursorless-dev/code-owners

Make missing snippet message include languages (#2861)
  packages/cursorless-engine/src/core/getPreferredSnippet.ts
Owners: @cursorless-dev/code-owners

Move the initializer into the constructor for instance members that reference identifiers declared in the constructor.
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

syntax error
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

syntax error
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

syntax error
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

Cleanup
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

Move the initializer into the constructor for instance members that r… (#2867)
  packages/cursorless-engine/src/actions/Actions.ts
Owners: @cursorless-dev/code-owners

Preparing 1.0 release
  packages/cursorless-org-docs/src/docs/user/release-notes/0.28.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/0.29.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/2022-year-in-review.md
  packages/cursorless-vscode/package.json
Owners: @cursorless-dev/code-owners

Update
  packages/cursorless-org-docs/src/docs/user/release-notes/0.28.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/0.29.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
  packages/cursorless-org-docs/src/docs/user/release-notes/2022-year-in-review.md
Owners: @cursorless-dev/code-owners

added snippet link
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
Owners: @cursorless-dev/code-owners

Typo
  packages/cursorless-org-docs/src/docs/user/release-notes/1.0.md
Owners: @cursorless-dev/code-owners

Remove lunch configuration from test harness
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Remove unused variables
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Remove unused import
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Update vscode version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Update version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

verbose logging
  .github/workflows/test.yml
Owners: @cursorless-dev/code-owners

Increase node memory
  .github/workflows/test.yml
Owners: @cursorless-dev/code-owners

restore version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Clamp version
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Restore memory
  .github/workflows/test.yml
Owners: @cursorless-dev/code-owners

Clean up
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

Bump all dependencies
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Attempt to fix CI
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
Owners: @cursorless-dev/code-owners

more CI
  packages/cursorless-vscode-tutorial-webview/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

more CI fix
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

CI
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
Owners: @cursorless-dev/code-owners

More CI
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/common/.eslintrc.json
  packages/common/eslint.config.mjs
  packages/common/src/types/command/.eslintrc.json
  packages/common/src/types/command/eslint.config.mjs
  packages/cursorless-engine/.eslintrc.json
  packages/cursorless-engine/eslint.config.mjs
  packages/cursorless-engine/src/processTargets/.eslintrc.json
  packages/cursorless-engine/src/processTargets/eslint.config.mjs
  packages/cursorless-org/.eslintrc.json
  packages/cursorless-org/eslint.config.mjs
  packages/cursorless-org/package.json
  packages/cursorless-vscode/src/scripts/.eslintrc.json
  packages/cursorless-vscode/src/scripts/eslint.config.mjs
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

more CI
  eslint.config.mjs
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeHandlers/BaseScopeHandler.ts
  packages/cursorless-engine/src/typings/target.types.ts
  packages/cursorless-vscode-e2e/src/suite/crossCellsSetSelection.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/editNewCell.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/followLink.vscode.test.ts
  packages/cursorless-vscode-e2e/src/suite/intraCellSetSelection.vscode.test.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Owners: @cursorless-dev/code-owners

Merge eslint configs
  eslint.config.mjs
  package.json
  packages/common/eslint.config.mjs
  packages/common/src/types/command/eslint.config.mjs
  packages/cursorless-engine/eslint.config.mjs
  packages/cursorless-engine/src/processTargets/eslint.config.mjs
  packages/cursorless-org/eslint.config.mjs
  packages/cursorless-vscode/src/scripts/eslint.config.mjs
Owners: @cursorless-dev/code-owners

Update lock file
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

.github/CODEOWNERS:

* @cursorless-dev/code-owners

*keyboard* @cursorless-dev/code-owners @josharian
*Keyboard* @cursorless-dev/code-owners @josharian

*neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
