Repository cursorless-dev/cursorless, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cursorless-dev/code-owners, @josharian, @saidelike, @fidgetingbits

Migrate function call
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Owners: @cursorless-dev/code-owners

Clean up
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Owners: @cursorless-dev/code-owners

Migrate argument
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Owners: @cursorless-dev/code-owners

Add changelog entries
  changelog/2025-06-migrateClojure.md
  changelog/2025-06-migrateLatex.md
  changelog/2025-06-migrateRuby.md
  changelog/2025-06-migrateScala.md
Owners: @cursorless-dev/code-owners

Migrate latex scope implementations (#2952)
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Owners: @cursorless-dev/code-owners

Add changelog entries (#2954)
  changelog/2025-06-migrateClojure.md
  changelog/2025-06-migrateLatex.md
  changelog/2025-06-migrateRuby.md
  changelog/2025-06-migrateScala.md
Owners: @cursorless-dev/code-owners

Added dummy legacy language id
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Owners: @cursorless-dev/code-owners

Apply suggestions from code review
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Owners: @cursorless-dev/code-owners

Use collection key instead of name scope
  data/fixtures/recorded/languages/rust/changeNameDrum2.yml
  data/fixtures/recorded/languages/rust/changeNameDrum3.yml
  data/fixtures/recorded/languages/rust/changeNameJury.yml
  data/fixtures/recorded/languages/rust/changeNameLook.yml
  data/fixtures/recorded/languages/rust/chuckNameFine.yml
  data/fixtures/recorded/languages/rust/chuckNameJury.yml
Owners: @cursorless-dev/code-owners

Update tests with type scope
  data/fixtures/recorded/languages/rust/changeArgBlueAir.yml
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeArgTrap.yml
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap.yml
  data/fixtures/recorded/languages/rust/chuckArgAir.yml
  data/fixtures/recorded/languages/rust/chuckArgBlueAir.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  data/fixtures/recorded/languages/rust/chuckArgTrap.yml
  queries/rust.scm
Owners: @cursorless-dev/code-owners

More type arguments
  data/fixtures/recorded/languages/rust/changeArgSun.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap3.yml
  data/fixtures/recorded/languages/rust/chuckArgSun2.yml
  queries/rust.scm
Owners: @cursorless-dev/code-owners

Up dit
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  queries/rust.scm
Owners: @cursorless-dev/code-owners

Fix formatting
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
Owners: @cursorless-dev/code-owners

More type fixes
  data/fixtures/recorded/languages/rust/changeArgTrapAndBlueTrap.yml
  data/fixtures/recorded/languages/rust/changeTypeTrap3.yml
  queries/rust.scm
Owners: @cursorless-dev/code-owners

Remove legacy language machinery
  packages/cursorless-engine/src/api/CursorlessEngineApi.ts
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/TreeSitterQuery.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/getNodeRange.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/makeRangeFromPositions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactory.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/EveryScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
  packages/cursorless-engine/src/util/nodeFinders.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/nodeSelectors.ts
  packages/cursorless-neovim/src/constructTestHelpers.ts
  packages/cursorless-neovim/src/extension.ts
  packages/cursorless-vscode-e2e/src/suite/cursorlessEngineIntegration.vscode.test.ts
  packages/cursorless-vscode/src/constructTestHelpers.ts
  packages/cursorless-vscode/src/extension.ts
  packages/neovim-common/src/TestHelpers.ts
  packages/vscode-common/src/TestHelpers.ts
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Updated contributor docs wit info about adding language.mdx
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
Owners: @cursorless-dev/code-owners

Update docs
  packages/cursorless-org-docs/src/docs/contributing/CONTRIBUTING.md
  packages/cursorless-org-docs/src/docs/contributing/parse-tree-patterns.md
Owners: @cursorless-dev/code-owners

Update link
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
Owners: @cursorless-dev/code-owners

Update how links are resolved
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/architecture/neovim-test-infrastructure.md
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Cleanup
  packages/cursorless-org-docs/docusaurus.config.mts
Owners: @cursorless-dev/code-owners

Elaborate on comment
  packages/cursorless-org-docs/docusaurus.config.mts
Owners: @cursorless-dev/code-owners

Clean up
  packages/cursorless-org-docs/docusaurus.config.mts
Owners: @cursorless-dev/code-owners

Throw unbroken anchors
  packages/cursorless-org-docs/docusaurus.config.mts
Owners: @cursorless-dev/code-owners

Remove unused imports
  packages/cursorless-engine/src/processTargets/ModifierStageFactory.ts
  packages/cursorless-engine/src/processTargets/ModifierStageFactoryImpl.ts
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/scopeProviders/ScopeSupportChecker.ts
Owners: @cursorless-dev/code-owners

Fix missing argument
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
Owners: @cursorless-dev/code-owners

Remove unused options argument
  packages/cursorless-engine/src/processTargets/modifiers/ContainingScopeStage.ts
  packages/cursorless-engine/src/processTargets/modifiers/PreferredScopeStage.ts
Owners: @cursorless-dev/code-owners

Only rewrite folders
  packages/cursorless-org-docs/docusaurus.config.mts
Owners: @cursorless-dev/code-owners

Update dependency versions
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Add React.jsx imports
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
Owners: @cursorless-dev/code-owners

dedupe
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Remove trie search id field
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
Owners: @cursorless-dev/code-owners, @josharian

Update dependency versions (#2957)
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cheatsheet/src/lib/components/CheatsheetLegendComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetListComponent.tsx
  packages/cheatsheet/src/lib/components/CheatsheetNotesComponent.tsx
  packages/cursorless-engine/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupport.tsx
  packages/cursorless-org-docs/src/docs/user/languages/components/ScopeSupportForLevel.tsx
  packages/cursorless-org/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/cursorless-vscode/src/keyboard/buildSuffixTrie.test.ts
  packages/meta-updater/package.json
  packages/neovim-common/package.json
  packages/node-common/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits, @josharian

Updated contributor docs with info about adding language.mdx (#2955)
  packages/cursorless-org-docs/docusaurus.config.mts
  packages/cursorless-org-docs/src/docs/contributing/adding-a-new-language.md
  packages/cursorless-org-docs/src/docs/contributing/architecture/neovim-test-infrastructure.md
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Sort fields in package json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Sort dependencies alphabetically
  packages/meta-updater/src/updatePackageJson.ts
Owners: @cursorless-dev/code-owners

reorder pnpm field
  package.json
  packages/meta-updater/src/updatePackageJson.ts
Owners: @cursorless-dev/code-owners

Reorder
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Sort fields in package json (#2959)
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/common/package.json
  packages/cursorless-cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-everywhere-talon-core/package.json
  packages/cursorless-everywhere-talon-e2e/package.json
  packages/cursorless-everywhere-talon/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-neovim/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-tutorial/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode-tutorial-webview/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  packages/meta-updater/src/updatePackageJson.ts
  packages/neovim-common/package.json
  packages/neovim-registry/package.json
  packages/node-common/package.json
  packages/sentence-parser/package.json
  packages/test-case-recorder/package.json
  packages/test-harness/package.json
  packages/vscode-common/package.json
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Increase performance test threshold
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Owners: @cursorless-dev/code-owners

Increase performance test threshold (#2961)
  packages/cursorless-vscode-e2e/src/suite/performance.vscode.test.ts
Owners: @cursorless-dev/code-owners

.github/CODEOWNERS:

* @cursorless-dev/code-owners

*keyboard* @cursorless-dev/code-owners @josharian
*Keyboard* @cursorless-dev/code-owners @josharian

*neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
