Repository cursorless-dev/cursorless, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cursorless-dev/code-owners, @josharian, @saidelike, @fidgetingbits

More debug
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

Run latest stable vscode version in CI tests
  packages/test-harness/src/launchVscodeAndRunTests.ts
Owners: @cursorless-dev/code-owners

debug
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

whatever
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

don't throw unnecessary
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

Use new createQuery Api
  packages/common/src/types/TreeSitter.ts
  packages/cursorless-engine/src/disabledComponents/DisabledTreeSitter.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-vscode/src/extension.ts
  packages/vscode-common/src/getExtensionApi.ts
Owners: @cursorless-dev/code-owners

Cleanup
  packages/cursorless-engine/src/cursorlessEngine.ts
  packages/cursorless-engine/src/disabledComponents/DisabledTalonSpokenForms.ts
  packages/cursorless-engine/src/generateSpokenForm/CustomSpokenFormGeneratorImpl.ts
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
  packages/cursorless-everywhere-talon-core/src/extension.ts
  packages/cursorless-everywhere-talon-e2e/src/quickjsTest.ts
Owners: @cursorless-dev/code-owners

Include Tree sitter types
  packages/common/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  pnpm-lock.yaml
  typings/global.d.ts
  typings/treeSitter.d.ts
Owners: @cursorless-dev/code-owners

Fix quickjs test (#2910)
  packages/cursorless-engine/src/spokenForms/CustomSpokenForms.ts
Owners: @cursorless-dev/code-owners

Updates for newer Tree sitter version (#2912)
  packages/common/src/types/TreeSitter.ts
  packages/cursorless-engine/src/disabledComponents/DisabledLanguageDefinitions.ts
  packages/cursorless-engine/src/disabledComponents/DisabledTreeSitter.ts
  packages/cursorless-engine/src/languages/LanguageDefinition.ts
  packages/cursorless-engine/src/languages/LanguageDefinitions.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/PredicateOperatorSchemaTypes.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/QueryPredicateOperator.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/constructZodErrorMessages.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/isContainedInErrorNode.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/operatorArgumentSchemaTypes.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.test.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/parsePredicates.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/predicateToString.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/rewriteStartOfEndOf.test.ts
  packages/cursorless-engine/src/languages/clojure.ts
  packages/cursorless-engine/src/languages/elseIfExtractor.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/latex.ts
  packages/cursorless-engine/src/languages/ruby.ts
  packages/cursorless-engine/src/languages/rust.ts
  packages/cursorless-engine/src/processTargets/modifiers/scopeTypeStages/LegacyContainingSyntaxScopeStage.ts
  packages/cursorless-engine/src/typings/Types.ts
  packages/cursorless-engine/src/util/nodeFinders.ts
  packages/cursorless-engine/src/util/nodeMatchers.ts
  packages/cursorless-engine/src/util/nodeSelectors.ts
  packages/cursorless-engine/src/util/treeSitterUtils.ts
  packages/cursorless-vscode/src/extension.ts
  packages/neovim-common/src/getExtensionApi.ts
  packages/vscode-common/src/getExtensionApi.ts
  typings/treeSitter.d.ts
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Update docusaurus version
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Update lock
  packages/cheatsheet/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

More updates
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

More
  packages/cheatsheet/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

fix
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Update dependency versions (#2914)
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

intial supported queries
  packages/common/src/scopeSupportFacets/r.ts
  queries/r.scm
Owners: @cursorless-dev/code-owners

Enable initial r support
  packages/common/src/scopeSupportFacets/languageScopeSupport.ts
  packages/common/src/scopeSupportFacets/r.ts
  queries/r.scm
Owners: @cursorless-dev/code-owners

add initial bunch of r scopes
  data/fixtures/scopes/r/anonymousFunction.scope
  data/fixtures/scopes/r/argument.actual.scope
  data/fixtures/scopes/r/argumentList.formal.scope
  data/fixtures/scopes/r/comment.line.scope
  data/fixtures/scopes/r/functionCall.scope
  data/fixtures/scopes/r/functionCallee.scope
  data/fixtures/scopes/r/functionName.scope
  data/fixtures/scopes/r/ifStatement.scope
  data/fixtures/scopes/r/name.assignment.scope
  data/fixtures/scopes/r/name.variable.scope
  data/fixtures/scopes/r/namedFunction.scope
  data/fixtures/scopes/r/value.assignment.scope
  data/fixtures/scopes/r/value.variable.scope
  packages/common/src/scopeSupportFacets/r.ts
  queries/r.scm
Owners: @cursorless-dev/code-owners

(r) clean up facet list
  packages/common/src/scopeSupportFacets/r.ts
Owners: @cursorless-dev/code-owners

Add hidden documentation for advanced keyboard interface
  packages/cursorless-org-docs/src/docs/user/experimental/keyboard/advanced/README.md
  packages/cursorless-org-docs/src/docs/user/experimental/keyboard/advanced/_category_.json
Owners: @cursorless-dev/code-owners, @josharian

Hide output from visible text editors
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Owners: @cursorless-dev/code-owners

Also filter active editor
  packages/cursorless-vscode/src/ide/vscode/VscodeIDE.ts
Owners: @cursorless-dev/code-owners

Update dependencies
  packages/cheatsheet-local/package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

sinon
  packages/cursorless-engine/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

esbuild
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

webpack
  packages/cheatsheet-local/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

prism-react-renderer
  packages/cursorless-org-docs/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

next
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

prettier
  package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Update ScopeTreeProvider.ts
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Owners: @cursorless-dev/code-owners

Revert prettier
  package.json
  packages/cursorless-vscode/src/ScopeTreeProvider.ts
Owners: @cursorless-dev/code-owners

syncpack
  package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

metaupdater
  package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Typescript & node
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

eslint
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cursorless-org/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

dedupe
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners

Update dependencies (#2919)
  cursorless.nvim/node/command-server/package.json
  package.json
  packages/cheatsheet-local/package.json
  packages/cheatsheet/package.json
  packages/cursorless-engine/package.json
  packages/cursorless-neovim-e2e/package.json
  packages/cursorless-org-docs/package.json
  packages/cursorless-org/package.json
  packages/cursorless-vscode-e2e/package.json
  packages/cursorless-vscode/package.json
  packages/meta-updater/package.json
  pnpm-lock.yaml
Owners: @cursorless-dev/code-owners, @saidelike, @fidgetingbits

Added Cursorless icon to contributed views
  packages/cursorless-vscode/package.json
Owners: @cursorless-dev/code-owners

Added note
  packages/cursorless-org-docs/src/docs/user/customization.md
Owners: @cursorless-dev/code-owners

.github/CODEOWNERS:

* @cursorless-dev/code-owners

*keyboard* @cursorless-dev/code-owners @josharian
*Keyboard* @cursorless-dev/code-owners @josharian

*neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Neovim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
*Nvim* @cursorless-dev/code-owners @saidelike @fidgetingbits
