Repository cursorless-dev/cursorless, pull requests merged in 2023-09, with the labels that each got.

#1862 Migrate Python to use next-gen scope handlers for text fragment extractors
  data/playground/python/statements.py
  data/playground/python/strings.py
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/takeString4.yml
  queries/python.scm
Labels: lang-python, scope-migration

#1877 Migrate python scope "value" to new scope handler
  data/playground/python/values.py
  packages/cursorless-engine/src/languages/python.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/changeValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/python/chuckValue5.yml
  pyproject.toml
  queries/python.scm
Labels: lang-python, scope-migration

#1875 Added text insertion action to Cursorless public api
  cursorless-talon-dev/src/cursorless_test.talon
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/homophones.py
  cursorless-talon/src/actions/reformat.py
  cursorless-talon/src/actions/replace.py
  docs/user/customization.md
  packages/cursorless-engine/src/test/fixtures/talonApi.fixture.ts
Labels: talon

#1870 Support generic scoped types for java
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType.yml
Labels: lang-java

#1850 Type hint Talon cheatsheet get_list
  cursorless-talon/src/cheatsheet/get_list.py
Labels: code quality, talon, cheatsheet

#1848 Tighten Talon marks type hints
  cursorless-talon/src/marks/decorated_mark.py
  cursorless-talon/src/marks/lines_number.py
  cursorless-talon/src/marks/mark.py
  cursorless-talon/src/marks/mark_types.py
  cursorless-talon/src/marks/simple_mark.py
  cursorless-talon/src/targets/target_types.py
Labels: code quality, talon

#1849 Tighten and fix Talon actions type hints
  cursorless-talon/src/actions/actions.py
  cursorless-talon/src/actions/get_text.py
  cursorless-talon/src/actions/homophones.py
Labels: code quality, talon

#1917 Fix `boundedNonWhitespaceSequence` in cheatsheet
  cursorless-talon/src/cheatsheet/sections/scopes.py
Labels: cheatsheet
