Repository cursorless-dev/cursorless, pull requests merged in 2023-11, with the labels that each got.

#2023 Expand `"type"` to include generic type arguments / parameters
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType10.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType11.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType12.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType13.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType14.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType15.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType16.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType17.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType18.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType19.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeType20.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearType.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeNear2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearTypeUrge.yml
  queries/typescript.core.scm
Labels: lang-typescript

#2038 Migrate java scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/java.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeBranch5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCallee.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCallee3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeCondition4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryCondition.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryCondition2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeEveryName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeIfState.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeName.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeType6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/changeValue.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/chuckBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/chuckValue2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/chuckValue3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearName2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeGust.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeGust2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeSoon.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeSoon2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeTrap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearTypeTrap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/clearValue4.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/takeName3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/java/takeType4.yml
  queries/java.scm
Labels: lang-java, scope-migration

#2042 Migrate json scopes
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/json.ts
  packages/cursorless-engine/src/runIntegrationTests.ts
  queries/json.scm
  queries/jsonc.scm
  queries/jsonl.scm
Labels: scope-migration, lang-json

#2040 Migrate typescript scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/typescript.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee5.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/changeCallee7.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/chuckType6.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryKey.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/typescript/clearEveryKey2.yml
  queries/javascript.core.scm
  queries/javascript.jsx.scm
  queries/typescript.core.scm
  queries/typescript.scm
Labels: lang-typescript, scope-migration

#2043 Migrate markdown scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/markdown.ts
  queries/markdown.scm
Labels: lang-markdown, scope-migration

#1854 add Go branch scope support
  data/playground/go/branch.go
  packages/common/src/types/Position.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchAir.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchCap2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/changeEveryBranchSun.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/chuckBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranch3.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/cloneBranchEach2.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/drinkBranchCap.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/drinkBranchEach.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/pourBranchDrum.yml
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/go/pourBranchEach.yml
  queries/go.scm
Labels: lang-go

#2044 Migrate html scopes
  packages/cursorless-engine/src/languages/getTextFragmentExtractor.ts
  packages/cursorless-engine/src/languages/html.ts
  packages/cursorless-vscode-e2e/src/suite/fixtures/recorded/languages/html/chuckValue.yml
  queries/html.scm
  queries/xml.scm
Labels: scope-migration, lang-html
