Repository cursorless-dev/cursorless, pull requests merged in 2024-05, with the labels that each got.

#2332 C#: Migrate class scope
  .vscode/extensions.json
  data/fixtures/scopes/csharp/class.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/cursorless-engine/src/languages/csharp.ts
  queries/csharp.scm
Labels: lang-c#, scope-migration

#2347 csharp migrate scopes
  data/fixtures/scopes/csharp/anonymousFunction.scope
  data/fixtures/scopes/csharp/anonymousFunction2.scope
  data/fixtures/scopes/csharp/anonymousFunction3.scope
  data/fixtures/scopes/csharp/class.iteration.block.scope
  data/fixtures/scopes/csharp/class.iteration.document.scope
  data/fixtures/scopes/csharp/className.iteration.block.scope
  data/fixtures/scopes/csharp/className.iteration.document.scope
  data/fixtures/scopes/csharp/className.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/csharp.ts
  queries/csharp.scm
Labels: lang-c#, scope-migration

#2341 Latex scope migration
  data/fixtures/recorded/languages/latex/clearElm.yml
  data/fixtures/recorded/languages/latex/clearEndTag.yml
  data/fixtures/recorded/languages/latex/clearStartTag.yml
  data/fixtures/recorded/languages/latex/clearTags.yml
  data/fixtures/recorded/languages/latex/pourEnvironment.yml
  data/fixtures/scopes/latex/element.scope
  data/fixtures/scopes/latex/endTag.scope
  data/fixtures/scopes/latex/environment.scope
  data/fixtures/scopes/latex/startTag.scope
  data/fixtures/scopes/latex/tags.scope
  packages/common/src/scopeSupportFacets/latex.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/latex.ts
  queries/latex.scm
Labels: scope-migration

#2365 Migrate java args scope
  data/fixtures/scopes/java/argument.actual.iteration.scope
  data/fixtures/scopes/java/argument.actual.scope
  data/fixtures/scopes/java/argument.actual2.scope
  data/fixtures/scopes/java/argument.formal.iteration.scope
  data/fixtures/scopes/java/argument.formal.iteration2.scope
  data/fixtures/scopes/java/argument.formal.scope
  data/fixtures/scopes/java/argument.formal2.scope
  data/fixtures/scopes/java/argument.formal3.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/java.ts
  queries/java.scm
Labels: lang-java, scope-migration

#2337 Clojure scope migration
  packages/cursorless-engine/src/languages/clojure.ts
  queries/clojure.scm
Labels: scope-migration

#2364 Added java field type
  data/fixtures/scopes/java/type.field.iteration.scope
  data/fixtures/scopes/java/type.field.scope
  data/fixtures/scopes/java/type.typeArgument.iteration.scope
  data/fixtures/scopes/java/type.typeArgument.scope
  packages/common/src/scopeSupportFacets/java.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/java.scm
Labels: lang-java
