Repository cursorless-dev/cursorless, pull requests merged in 2024-07, with the labels that each got.

#2460 Fix removal range with type
  data/fixtures/scopes/typescript.core/value.argument.formal2.scope
  queries/typescript.core.scm
Labels: bug, lang-typescript

#2450 Migrate python collection item scope
  data/fixtures/recorded/languages/python/chuckItem.yml
  data/fixtures/recorded/languages/python/clearEveryItem.yml
  data/fixtures/recorded/languages/python/clearEveryItem2.yml
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed.scope
  data/fixtures/scopes/python/collectionItem.unenclosed2.scope
  data/fixtures/scopes/python/collectionItem.unenclosed3.scope
  data/fixtures/scopes/python/collectionItem.unenclosed4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed5.scope
  data/fixtures/scopes/python/collectionItem.unenclosed6.scope
  packages/common/src/scopeSupportFacets/python.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/python.ts
  queries/python.scm
Labels: lang-python, scope-migration

#2483 Added support for python pattern list as collection item
  data/fixtures/scopes/python/collectionItem.unenclosed.iteration4.scope
  data/fixtures/scopes/python/collectionItem.unenclosed7.scope
  queries/python.scm
Labels: lang-python

#1699 Change wording around legacy scope types
  docs/user/README.md
Labels: documentation

#1718 Add cheatsheet developer docs
  docs/contributing/cheatsheet.md
Labels: documentation

#2539 Added name/value for object assignment pattern in javascript
  data/fixtures/scopes/javascript.core/name.variable.pattern2.scope
  data/fixtures/scopes/javascript.core/name.variable.pattern3.scope
  data/fixtures/scopes/javascript.core/value.variable.pattern.scope
  data/fixtures/scopes/javascript.core/value.variable.pattern2.scope
  packages/common/src/scopeSupportFacets/javascript.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  queries/javascript.core.scm
Labels: lang-typescript

#2491 Migrate php type scope
  data/fixtures/recorded/languages/php/changeType.yml
  data/fixtures/recorded/languages/php/changeType2.yml
  data/fixtures/recorded/languages/php/changeType3.yml
  data/fixtures/recorded/languages/php/changeType4.yml
  data/fixtures/recorded/languages/php/changeType5.yml
  data/fixtures/recorded/languages/php/changeType6.yml
  data/fixtures/recorded/languages/php/chuckType.yml
  data/fixtures/recorded/languages/php/chuckType2.yml
  data/fixtures/recorded/languages/php/chuckType3.yml
  data/fixtures/recorded/languages/php/chuckType4.yml
  data/fixtures/recorded/languages/php/chuckType5.yml
  data/fixtures/scopes/php/name.argument.formal.iteration.scope
  data/fixtures/scopes/php/name.argument.formal.scope
  data/fixtures/scopes/php/name.argument.formal2.scope
  data/fixtures/scopes/php/name.field.scope
  data/fixtures/scopes/php/type.argument.formal.iteration.scope
  data/fixtures/scopes/php/type.argument.formal.scope
  data/fixtures/scopes/php/type.argument.formal2.scope
  data/fixtures/scopes/php/type.argument.formal3.scope
  data/fixtures/scopes/php/type.cast.scope
  data/fixtures/scopes/php/type.field.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Labels: scope-migration, lang-php

#2541 Support funk name scope in map
  data/fixtures/scopes/javascript.core/functionName2.scope
  data/fixtures/scopes/javascript.core/functionName3.scope
  queries/javascript.function.scm
Labels: lang-typescript

#2489 Migrating markdown scopes
  data/fixtures/scopes/markdown/section.scope
  packages/common/src/scopeSupportFacets/markdown.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacetInfos.ts
  packages/common/src/scopeSupportFacets/scopeSupportFacets.types.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/TreeSitterQuery/queryPredicateOperators.ts
  packages/cursorless-engine/src/languages/branchMatcher.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/markdown.ts
  packages/cursorless-engine/src/languages/ternaryBranchMatcher.ts
  queries/markdown.scm
Labels: lang-markdown, scope-migration

#2490 Migrate php key/value scope
  data/fixtures/recorded/languages/php/changeValue.yml
  data/fixtures/recorded/languages/php/changeValue2.yml
  data/fixtures/recorded/languages/php/changeValue3.yml
  data/fixtures/recorded/languages/php/changeValue4.yml
  data/fixtures/recorded/languages/php/changeValue5.yml
  data/fixtures/recorded/languages/php/changeValue6.yml
  data/fixtures/recorded/languages/php/changeValue7.yml
  data/fixtures/recorded/languages/php/chuckValue.yml
  data/fixtures/recorded/languages/php/chuckValue10.yml
  data/fixtures/recorded/languages/php/chuckValue2.yml
  data/fixtures/recorded/languages/php/chuckValue3.yml
  data/fixtures/recorded/languages/php/chuckValue4.yml
  data/fixtures/recorded/languages/php/chuckValue5.yml
  data/fixtures/recorded/languages/php/chuckValue6.yml
  data/fixtures/recorded/languages/php/chuckValue7.yml
  data/fixtures/recorded/languages/php/chuckValue8.yml
  data/fixtures/recorded/languages/php/chuckValue9.yml
  data/fixtures/scopes/php/key.mapPair.scope
  data/fixtures/scopes/php/name.assignment.scope
  data/fixtures/scopes/php/name.assignment2.scope
  data/fixtures/scopes/php/name.variable.scope
  data/fixtures/scopes/php/value.assignment.scope
  data/fixtures/scopes/php/value.assignment2.scope
  data/fixtures/scopes/php/value.mapPair.scope
  data/fixtures/scopes/php/value.return.scope
  data/fixtures/scopes/php/value.variable.scope
  data/fixtures/scopes/php/value.yield.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Labels: scope-migration, lang-php

#2492 Migrate php argument scope
  data/fixtures/recorded/languages/php/changeArg.yml
  data/fixtures/recorded/languages/php/changeArg10.yml
  data/fixtures/recorded/languages/php/changeArg2.yml
  data/fixtures/recorded/languages/php/changeArg3.yml
  data/fixtures/recorded/languages/php/changeArg4.yml
  data/fixtures/recorded/languages/php/changeArg5.yml
  data/fixtures/recorded/languages/php/changeArg6.yml
  data/fixtures/recorded/languages/php/changeArg7.yml
  data/fixtures/recorded/languages/php/changeArg8.yml
  data/fixtures/recorded/languages/php/changeArg9.yml
  data/fixtures/recorded/languages/php/changeEveryArg.yml
  data/fixtures/recorded/languages/php/chuckArg.yml
  data/fixtures/recorded/languages/php/chuckArg10.yml
  data/fixtures/recorded/languages/php/chuckArg2.yml
  data/fixtures/recorded/languages/php/chuckArg3.yml
  data/fixtures/recorded/languages/php/chuckArg4.yml
  data/fixtures/recorded/languages/php/chuckArg5.yml
  data/fixtures/recorded/languages/php/chuckArg6.yml
  data/fixtures/recorded/languages/php/chuckArg7.yml
  data/fixtures/recorded/languages/php/chuckArg8.yml
  data/fixtures/recorded/languages/php/chuckArg9.yml
  data/fixtures/recorded/languages/php/chuckEveryArg.yml
  data/fixtures/scopes/php/argument.actual.constructor.iteration.scope
  data/fixtures/scopes/php/argument.actual.constructor.scope
  data/fixtures/scopes/php/argument.actual.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.iteration.scope
  data/fixtures/scopes/php/argument.actual.method.scope
  data/fixtures/scopes/php/argument.actual.scope
  data/fixtures/scopes/php/argument.formal.constructor.iteration.scope
  data/fixtures/scopes/php/argument.formal.constructor.scope
  data/fixtures/scopes/php/argument.formal.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.iteration.scope
  data/fixtures/scopes/php/argument.formal.method.scope
  data/fixtures/scopes/php/argument.formal.scope
  packages/common/src/scopeSupportFacets/php.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  packages/cursorless-engine/src/languages/php.ts
  queries/php.scm
Labels: scope-migration, lang-php

#2469 Migrate csharp scopes
  data/fixtures/recorded/languages/csharp/chuckTypeSoon.yml
  data/fixtures/recorded/languages/csharp/chuckTypeSoon2.yml
  data/fixtures/recorded/languages/csharp/chuckValue.yml
  data/fixtures/recorded/languages/csharp/clearName.yml
  data/fixtures/recorded/languages/csharp/clearName2.yml
  data/fixtures/recorded/languages/csharp/clearName3.yml
  data/fixtures/recorded/languages/csharp/clearValue.yml
  data/fixtures/recorded/languages/csharp/clearValue2.yml
  data/fixtures/recorded/languages/csharp/clearValue3.yml
  data/fixtures/scopes/csharp/argument.actual.iteration.scope
  data/fixtures/scopes/csharp/argument.actual.scope
  data/fixtures/scopes/csharp/argument.formal.iteration.scope
  data/fixtures/scopes/csharp/argument.formal.scope
  data/fixtures/scopes/csharp/key.mapPair.iteration.scope
  data/fixtures/scopes/csharp/key.mapPair.scope
  data/fixtures/scopes/csharp/list.scope
  data/fixtures/scopes/csharp/map.scope
  data/fixtures/scopes/csharp/name.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/name.argument.formal.scope
  data/fixtures/scopes/csharp/name.assignment.scope
  data/fixtures/scopes/csharp/name.assignment2.scope
  data/fixtures/scopes/csharp/name.variable.scope
  data/fixtures/scopes/csharp/type.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/type.argument.formal.scope
  data/fixtures/scopes/csharp/type.variable.scope
  data/fixtures/scopes/csharp/value.argument.formal.iteration.scope
  data/fixtures/scopes/csharp/value.argument.formal.scope
  data/fixtures/scopes/csharp/value.assignment.scope
  data/fixtures/scopes/csharp/value.mapPair.iteration.scope
  data/fixtures/scopes/csharp/value.mapPair.scope
  data/fixtures/scopes/csharp/value.variable.scope
  packages/common/src/scopeSupportFacets/csharp.ts
  packages/cursorless-engine/src/languages/LegacyLanguageId.ts
  packages/cursorless-engine/src/languages/csharp.ts
  packages/cursorless-engine/src/languages/getNodeMatcher.ts
  queries/csharp.scm
Labels: lang-c#, scope-migration
